<a href="https://colab.research.google.com/github/dmangialino/my-notebooks/blob/main/List_Comprehensions_Exercise_DM_Summer_2021.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Instructions

Make a copy of this notebook so you can edit and save your own version of it. Do the work in your copy of the notebook.

# Prerequisites

  + [Lists](https://github.com/prof-rossetti/intro-to-python/blob/master/notes/python/datatypes/lists.md)
  + [List Comprehensions](https://docs.python.org/3/tutorial/datastructures.html?#list-comprehensions)

# Challenges

In the corresponding code cells below, use list comprehensions  to transform the provided list (i.e. `my_numbers`) in each of the following ways:

  1. Use mapping capabilities to multiply each number by 100 (e.g. `[100, 200, 300, 400, 500, 600, 700]`)
  2. Use filtering capabilities to return only the numbers greater than three (e.g. `[4, 5, 6, 7]`)
  3. Use filtering capabilities to return only the numbers greater than eight (e.g. `[]`)
  4. Use mapping and filtering capabilities to return only the numbers greater than three, each multiplied by 100 (e.g. `[400, 500, 600, 700]`)

Example final output:

```
--------------
ORIGINAL LIST: [1, 2, 3, 4, 5, 6, 7]
--------------
1) MAPPED LIST: [100, 200, 300, 400, 500, 600, 700]
--------------
2) FILTERED LIST W/ MATCHES: [4, 5, 6, 7]
--------------
3) FILTERED LIST W/O MATCHES: []
--------------
4) MAPPED AND FILTERED LIST: [400, 500, 600, 700]
```

Spoiler Alert: [List Comprehensions Exercise Solution](https://github.com/prof-rossetti/intro-to-python/blob/master/exercises/list-comprehensions/solutions.py)

In [1]:
# leave this cell as-is

my_numbers = [1, 2, 3, 4, 5, 6, 7]

print("--------------")
print("ORIGINAL LIST:", my_numbers)

--------------
ORIGINAL LIST: [1, 2, 3, 4, 5, 6, 7]

In [15]:

#
# 1) Use mapping capabilities to multiply each number by 100 (i.e. [100, 200, 300, 400, 500, 600, 700])
# 

# TODO: write python code here

# Create new empty list
# Loop through original list and append / assemble some transfomered version of each item into the new list
larger_numbers = []
for number in my_numbers:
  larger_numbers.append(number*100)

# Print original and mapped lists
print("--------------")
print("ORIGINAL LIST:", my_numbers)
print("--------------")
print("1) MAPPED LIST: ", larger_numbers)
print("--------------")

--------------
ORIGINAL LIST: [1, 2, 3, 4, 5, 6, 7]
--------------
1) MAPPED LIST:  [100, 200, 300, 400, 500, 600, 700]
--------------

In [14]:
# Using list comprehesion
print([item*100 for item in my_numbers])

[100, 200, 300, 400, 500, 600, 700]

In [8]:

# 
# 2) Use filtering capabilities to return only the numbers greater than three (i.e. [4, 5, 6, 7])
# 

# Loop through my_numbers and compare each to 3. If > 3, append to new filtered list
greater_three = []
for number in my_numbers:
  if(number > 3):
    greater_three.append(number)

# Print original, mapped, and filtered lists
print("--------------")
print("ORIGINAL LIST:", my_numbers)
print("--------------")
print("1) MAPPED LIST: ", larger_numbers)
print("--------------")
print("FILTERED LIST W/ MATCHES:", greater_three)
print("--------------")

--------------
ORIGINAL LIST: [1, 2, 3, 4, 5, 6, 7]
--------------
1) MAPPED LIST:  [100, 200, 300, 400, 500, 600, 700]
--------------
FILTERED LIST W/ MATCHES: [4, 5, 6, 7]
--------------

In [16]:
# Using list comprehension
print([item for item in my_numbers if item > 3])

[4, 5, 6, 7]

In [9]:

#
# 3) Use filtering capabilities to return only the numbers greater than eight (i.e. [] or empty list)
#

# Loop through my_numbers and compare each to 8. If > 8, append to new filtered list
greater_eight = []
for number in my_numbers:
  if(number > 8):
    greater_eight.append(number)

# Print original, mapped, and both filtered lists
print("--------------")
print("ORIGINAL LIST:", my_numbers)
print("--------------")
print("1) MAPPED LIST: ", larger_numbers)
print("--------------")
print("FILTERED LIST W/ MATCHES:", greater_three)
print("--------------")
print("FILTERED LIST W/O MATCHES:", greater_eight)
print("--------------")

--------------
ORIGINAL LIST: [1, 2, 3, 4, 5, 6, 7]
--------------
1) MAPPED LIST:  [100, 200, 300, 400, 500, 600, 700]
--------------
FILTERED LIST W/ MATCHES: [4, 5, 6, 7]
--------------
FILTERED LIST W/O MATCHES: []
--------------

In [17]:
# Using list comprehension
print([item for item in my_numbers if item > 8])

[]

In [11]:
#
# 4) Use mapping and filtering capabilities to return only the numbers greater than three, each multiplied by 100 (i.e. [400, 500, 600, 700])
#

# Create new list. Loop through my_numbers, checking if each number is greater than 3
# If the number is greater than 3, multiply by 100 and append to new list
mapped_filtered = []
for number in my_numbers:
  if(number > 3):
    mapped_filtered.append(number*100)

# Print original, mapped, both filtered, and filtered & mapped lists
print("--------------")
print("ORIGINAL LIST:", my_numbers)
print("--------------")
print("1) MAPPED LIST: ", larger_numbers)
print("--------------")
print("FILTERED LIST W/ MATCHES:", greater_three)
print("--------------")
print("FILTERED LIST W/O MATCHES:", greater_eight)
print("--------------")
print("MAPPED AND FILTERED LIST:", mapped_filtered)
print("--------------")

--------------
ORIGINAL LIST: [1, 2, 3, 4, 5, 6, 7]
--------------
1) MAPPED LIST:  [100, 200, 300, 400, 500, 600, 700]
--------------
FILTERED LIST W/ MATCHES: [4, 5, 6, 7]
--------------
FILTERED LIST W/O MATCHES: []
--------------
MAPPED AND FILTERED LIST: [400, 500, 600, 700]
--------------

In [18]:
# Using list comprehension
print([(item*100) for item in my_numbers if item > 3])

[400, 500, 600, 700]